<!DOCTYPE html>
	<head>
		{{! Document Settings}}
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="description" content="{{meta_description}}" />

		{{! Styles }}
		<link rel='stylesheet' id='twentythirteen-fonts-css'  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
		<link rel="stylesheet" type="text/css" href="/assets/fonts/genericons.css">
	    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

		<title>{{meta_title}}</title

	    {{! Responsive Meta Tags}}
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{ghost_head}}

	</head>

	<body class="{{body_class}}">
		{{{body}}}
		{{ghost_foot}}
	</body>
</html>
